.form-input {
  color: #fff;
}
.text-input {
  input {
    display: inline;
  }
  img.success-icon, img.failure-icon {
    width: 40px;
    &.ng-hide.ng-hide-animate {
      display: none;
    }
  }
}